<a href="https://colab.research.google.com/github/watcharapornn/data_viz/blob/main/Function_Loop_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function

####**สิ่งที่ควรรู้**


backtick ( ` ) ==> กด ~ ค้าง, กด Alt + 96 (กด Alt ค้างแล้ว กด 9 ปล่อย กด 6)

tilde ( ~ )

curly bracket ({ })

square bracket ([ ])

##Function template

ทำหน้าที่รับ intput มาประมวลผลออกมาเป็น output เช่น f(x) = y

def คือ การกำหนดฟังก์ชัน

```python
    def function_name(_input_) :
      do_someting with _input_to_get_output_
      return _output_
```

function มีส่วนทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชันอะไร `def function_name()` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input `_Input` (ขาดได้ ไม่ได้สำคัญมาก)
3.ส่วนประมวลผล `do_sometime_thing_wint_Input_to_get_Output` (ขาดไม่ได้)
4. ส่วนของ output `return_Output` (ขาดไม่ได้)



เราใช้เว้นวรรค(indent) เพื่อบอกขอบเขตของโปรแกรม

**ตัวอย่างการเขียน**

####EX.1

normal function

In [1]:
def p_name(name,surname,ID):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [2]:
p_name('วิไลภา','ชินพะวอ','613020616-6')

'ชื่อ วิไลภา นามสกุล ชินพะวอ รหัส 613020616-6'

####EX.2

สามารถบอกชื่อของ Input ได้

In [3]:
def print_name(surname,ID,name):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [4]:
print_name('ชินพะวอ','วิไลภา','613020616-6')

'ชื่อ 613020616-6 นามสกุล ชินพะวอ รหัส วิไลภา'

In [5]:
print_name(surname = 'ชินพะวอ',name = 'วิไลภา',ID = '613020616-6')

'ชื่อ วิไลภา นามสกุล ชินพะวอ รหัส 613020616-6'

####EX.3

ฟังก์ชั่นไม่จำเป็นต้องมี Output

In [7]:
def print_name2(surname,ID,name):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)

In [8]:
print_name2(surname = 'ชินพะวอ',name = 'วิไลภา',ID = '613020616-6')

ชื่อ วิไลภา นามสกุล ชินพะวอ รหัส 613020616-6

####EX.4

ฟังก์ชั่นไม่จำเป็นต้องมี Input

In [9]:
def Pi():
  return 3.14159265359

In [10]:
Pi()*(2**2) #หาพื้นที่ของวงกลม เมื่อค่า r = 2

12.56637061436

####EX.5

เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (default) ต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน ถ้าใส่ input ในฟังก์ชั่นที่ไม่จำเป็นต้องใส่จะ run ไม่ได้

In [11]:
def Print_2line_default(name,surname,ID,grade = 'F'):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)
  st2 = f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

In [12]:
Print_2line_default('วัชราภรณ์','บุญจวง','613020615-8')

ชื่อ วัชราภรณ์ นามสกุล บุญจวง รหัส 613020615-8
เกรดวิชา Data Viz >>> F

In [13]:
Print_2line_default('วัชราภรณ์','บุญจวง','613020615-8','A')

ชื่อ วัชราภรณ์ นามสกุล บุญจวง รหัส 613020615-8
เกรดวิชา Data Viz >>> A

##Loop

####**for**

การวนซ้ำ ใช้ for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop โดย for จะวนดึงสมาชิกจาก listA มาทำ process do_something เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [14]:
for i in [1,2,3]:
  o = i**2
  print(f'This member = {i} after process = {o}')

This member = 1 after process = 1
This member = 2 after process = 4
This member = 3 after process = 9

ตัวอย่างการใช้คำสั่ง gor ในการวนซ้ำของ i เมื่อ i คือ 'Thitiwut'

In [15]:
for i in 'Thitiwut':
  print(f'{i} -> /') # ปกติ print แล้วจะขึ้นบรรทัดใหม่ ตามค่า default

T -> /
h -> /
i -> /
t -> /
i -> /
w -> /
u -> /
t -> /

In [16]:
for i in 'Thitiwut':
  print(f'{i} -> /', end = '') #สั่งให้ print ไม่เว้นบรรทัด

T -> /h -> /i -> /t -> /i -> /w -> /u -> /t -> /

In [17]:
for i in 'Thitiwut':
  print(f'{i} -> /', end = ',') #สั่งให้ print มี ,

T -> /,h -> /,i -> /,t -> /,i -> /,w -> /,u -> /,t -> /,

#### **List**

สร้าง list ตัวเลขแบบอัตโนมัติ range() นำมาใช้ใน for ได้

In [18]:
range5_output = range(5)
print(range5_output)
print(list(range5_output))

range(0, 5)
[0, 1, 2, 3, 4]

In [19]:
list1_10 = range(1,11) #สร้าง list เลขตั้งเเต่ 1-10
print(list((list1_10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ex.

In [20]:
for i in range(100):
  print('5',end = '')

5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

In [21]:
for i in range(10):
  print('ha',end = ' ')

ha ha ha ha ha ha ha ha ha ha

In [22]:
list(range(-3,20,4)) # เริ่มตั้งเเต่ -3 ไปถึง 20 โดย step ไปครั้งละ 4

[-3, 1, 5, 9, 13, 17]

####**loop in loop**

สามารถใช้ for loop ซ้อนกันสองรอบได้

In [23]:
for i in range(2,5): #(2,3,4)
  for j in range(1,13):
    print(i,'*',j,'=',i*j) # print อีกแบบคือ print(f'{i}*{j}={i*j}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

In [24]:
for i in range(2,5): #(2,3,4)
  print(f'\nNow i = {i}')
  for j in range(1,13):
    print(f'{i}*{j}={i*j}')
  print(f'the inner loop is end')

Now i = 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
2*11=22
2*12=24
the inner loop is end

Now i = 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
3*11=33
3*12=36
the inner loop is end

Now i = 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
4*11=44
4*12=48
the inner loop is end

#### **loop in function**

In [25]:
list_number = range(1,13)

In [26]:
def mul_table(i,range,):
  for j in range:
    print(f'{i}*{j} = {i*j}')

In [27]:
mul_table(2,list_number)

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
2*11 = 22
2*12 = 24

In [28]:
mul_table(12,list_number)

12*1 = 12
12*2 = 24
12*3 = 36
12*4 = 48
12*5 = 60
12*6 = 72
12*7 = 84
12*8 = 96
12*9 = 108
12*10 = 120
12*11 = 132
12*12 = 144

#Conditional

conditional คือ เงือนไข/ประโยคเือนไข

#### True / False

การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

*   รายการในลิสต์
*   รายการในลิสต์


``` 
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [29]:
list_name = ['A','B','C','D']

In [30]:
for name1 in list_name:
  for name2 in list_name:
    print(name1,'KILL',name2)

A KILL A
A KILL B
A KILL C
A KILL D
B KILL A
B KILL B
B KILL C
B KILL D
C KILL A
C KILL B
C KILL C
C KILL D
D KILL A
D KILL B
D KILL C
D KILL D

In [31]:
for name1 in list_name:
  for name2 in list_name:
    if name1 != name2 : #ไม่ print ชื่อคนซ้ำ
       print(name1,'KILL',name2)

A KILL B
A KILL C
A KILL D
B KILL A
B KILL C
B KILL D
C KILL A
C KILL B
C KILL D
D KILL A
D KILL B
D KILL C

In [32]:
for name1 in list_name:
  for name2 in list_name:
    if name1 == name2 : # print ชื่อคนซ้ำ
       print(name1,'KILL',name2)

A KILL A
B KILL B
C KILL C
D KILL D

In [33]:
for name1 in list_name:
  for name2 in list_name:
    if name1 == name2 : 
       'do nothing'
    else:  
       print(name1,'KILL',name2)

A KILL B
A KILL C
A KILL D
B KILL A
B KILL C
B KILL D
C KILL A
C KILL B
C KILL D
D KILL A
D KILL B
D KILL C

==,!=,>=,<=,>,<

In [34]:
'A' == 'B'

False

In [35]:
'A' != 'B'

True

หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [36]:
if True:
  print('Yes')

Yes

In [38]:
if False:
  print('No')

หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา

ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [39]:
if False:
    print('Yes')
else:
    print('No')

No

#HW

การบ้านที่ 4

####โจทย์

เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]


**กำหนด**
```
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A

  แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error
  ```

###ฟังก์ชั่นคำนวณเกรด

In [42]:
def cal_grade(score):
  if score < 0 :
    print(f'error: กรอกคะแนนผิด')
  if score >= 0 and score < 50:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด F')
  if score >= 50 and score < 55:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด D')
  if score >= 55 and score < 60:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด D+')
  if score >= 60 and score < 65:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด C')
  if score >= 65 and score < 70:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด C+')
  if score >= 70 and score < 75:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด B')
  if score >= 75 and score < 80:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด B+')
  if score >= 80 and score < 100:
    print(f'นักศึกษาคนนี้มีคะแนน {score} จะได้เกรด A')
  if score >= 100 :      
    print(f'error: กรอกคะแนนผิด')

###การคำนวณเกรด

In [43]:
input = [1,50,65,90,101,-5,49]

In [44]:
for score in input:
  cal_grade(score)

นักศึกษาคนนี้มีคะแนน 1 จะได้เกรด F
นักศึกษาคนนี้มีคะแนน 50 จะได้เกรด D
นักศึกษาคนนี้มีคะแนน 65 จะได้เกรด C+
นักศึกษาคนนี้มีคะแนน 90 จะได้เกรด A
error: กรอกคะแนนผิด
error: กรอกคะแนนผิด
นักศึกษาคนนี้มีคะแนน 49 จะได้เกรด F